:root {
  /*
  These get overwritten immediately
  */
  --count-background-color: #282c34;
  --count-text-color: white;
  --rainbow-at: 0% 0%;
}

.App {
  text-align: center;
  background-color: var(--count-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--count-text-color);
}

.gradient-button {
  position: relative;
  border: 2px solid transparent;
  background-color: transparent;
  color: var(--count-text-color);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.gradient-button:hover {
  border: 2px solid black;
  border-image: linear-gradient(
      to right,
      #ff0000,
      #ffff00,
      #00ff00,
      #00ffff,
      #0000ff,
      #ff00ff,
      #ff0000
    )
    1;
  animation: button-gradient-animation 1s linear infinite;
}

@keyframes button-gradient-animation {
  0% {
    border-image: linear-gradient(
      to right,
      #ff0000,
      #ffff00,
      #00ff00,
      #00ffff,
      #0000ff,
      #ff00ff
    );
    border-image-slice: 1;
  }
  16% {
    border-image: linear-gradient(
      to right,
      #ff00ff,
      #ff0000,
      #ffff00,
      #00ff00,
      #00ffff,
      #0000ff
    );
    border-image-slice: 1;
  }
  32% {
    border-image: linear-gradient(
      to right,
      #0000ff,
      #ff00ff,
      #ff0000,
      #ffff00,
      #00ff00,
      #00ffff
    );
    border-image-slice: 1;
  }
  48% {
    border-image: linear-gradient(
      to right,
      #00ffff,
      #0000ff,
      #ff00ff,
      #ff0000,
      #ffff00,
      #00ff00
    );
    border-image-slice: 1;
  }
  62% {
    border-image: linear-gradient(
      to right,
      #00ff00,
      #00ffff,
      #0000ff,
      #ff00ff,
      #ff0000,
      #ffff00
    );
    border-image-slice: 1;
  }
  78% {
    border-image: linear-gradient(
      to right,
      #ffff00,
      #00ff00,
      #00ffff,
      #0000ff,
      #ff00ff,
      #ff0000
    );
    border-image-slice: 1;
  }
  100% {
    border-image: linear-gradient(
      to right,
      #ff0000,
      #ffff00,
      #00ff00,
      #00ffff,
      #0000ff,
      #ff00ff
    );
    border-image-slice: 1;
  }
}

.rainbow {
  background: radial-gradient(
    at var(--rainbow-at),
    #ff0000,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #ff00ff,
    #ff0000
  );
  min-width: 50vw;
  width: 50vw;
  min-height: 50vh;
  height: 50vh;
}

.slider-container {
  max-width: 400px;
  width: 100%;
}
.slider-container > input {
  max-width: 400px;
  width: 100%;
}
