:root {
  --count-background-color: #282c34;
  --count-text-color: white;
}

.App {
  text-align: center;
  background-color: var(--count-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--count-text-color);
}

.rainbow {
  background: radial-gradient(red, orange, yellow, green, blue, indigo, violet);
  min-width: 50vw;
  width: 50vw;
  min-height: 50vh;
  height: 50vh;
}
